html {
    font-size: calc(0.5em + 0.5vw)
}

body {
    background-color:rgb(203, 240, 255);
    font-family: 'Jost', sans-serif;
}

header, footer {
    text-align: center;
    padding-top: 1em;
}

main {
    margin-top: 2em;
}

h1,h2,h3,h4,h5,h6,p {
    line-height: 1.45;
   }
   h1 { font-size: 4em; }
   h2 { font-size: 3em; }
   h3 { font-size: 3em; }
   h4 { font-size: 2em; }
   h5 { font-size: 1em; }
   h6 { font-size: 0.5em; }

.container {
    display: grid;
    grid-template-columns: auto;
    align-content: center;
    padding-bottom: 2em;
}

.form-inline {
    display: flex;
    flex-flow: row wrap;
  }
  
/* Style the input fields */
.form-inline input {
    margin: 5px 10px 5px -10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Style the submit button */

button#search {
    width: 10em;
    margin: 0 auto;
    padding: 10px;
    background-color: dodgerblue;
    border: 1px solid #ddd;
    border-radius: 20px;
    color: black;
}

button#search:hover {
    background-color: royalblue;
}

footer {
    margin: 0 auto;
}