html {
    font-size: calc(0.5em + 0.75vw)
}

body{
    background-color:rgb(203, 240, 255);
   }

   .container {
    align-content: center;
    padding-bottom: 4rem;
}

h1 {
    font-family:cursive;
    font-weight: 900px;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing:0.2em;
    word-spacing:0.5em;
    color:rgb(14, 14, 129) ;
}



.card{
    box-shadow: 16px 20px 24px royalblue;
    border: 10px dotted red;
    padding: 20px;
    margin: 50px;
    background-color: khaki;
    

  }


.card:hover {
  box-shadow: 0 8px 16px 0 red;
}

.card-2{
    box-shadow: 16px 20px 24px 0 royalblue;
    border: 10px dotted red;
    padding: 20px;
    margin: 50px;
    background-color: khaki;
    text-align: center;
    
}

.card-2:hover{
    box-shadow: 0 8px 16px 0 red;

}


#flight-search {
    margin-top: 10%;
}


#cheap-flights{
    margin-top: 10%;

}

#flights-at-fifferent-currency-exchange{
    margin-top: 20%;

}


#currency-exchange {
    margin-top: 10%;
}



#support{
    margin-top: 5%;

}

footer{
    text-align: center;
    margin-top: 100%;
}


















