html {
    font-size: calc(1em + 1vw)
}

body {
    font-size: 18px;
    background-color:rgb(203, 240, 255);
    font-family: 'Jost', sans-serif;
}

header, footer {
    text-align: center;
}

h1,h2,h3,h4,h5,h6,p {
    line-height: 1.45;
   }
   h1 { font-size: 4em; }
   h2 { font-size: 3em; }
   h3 { font-size: 3em; }
   h4 { font-size: 2em; }
   h5 { font-size: 1em; }
   h6 { font-size: 0.5em; }


.container {
    display: grid;
    grid-template-columns: auto;
    align-content: center;
    padding-bottom: 4rem;
}

footer {
    bottom: 0;
}